body{
  background-color: maroon;
}
.title {
  text-align: center;
  color: white;
  font-family: "Montserrat",bold;
}

.desc{
  text-align: justify;
  color: orange;
  font-family: "Montserrat";
}

#intro{
  display: grid;
  grid-template: 
  "1fr 1fr"
  "1fr 1fr"
  "1fr 1fr";
  justify-items: center;
}

#intro .desc{
  grid-column-start: 1;
  grid-column-end: 2;
}
